.checkout a {
    font-weight: 400;
    color: #fff;
    box-shadow: none;
    display: inline-block;
    text-transform: none;
    padding: 10px 20px;
    font-size: 15px;
    background: linear-gradient(to right,#358b31 0,#73a81f 100%);
    width: 100%;
    border-radius: 3px;
}